<div ng-controller="KbnSearchTablesVisController" class="kbn-searchtables">
  <div ng-if="!hasSomeRows && hasSomeRows !== null" class="kbn-searchtables-error">
    <h2 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h2>
    <h4>No results found</h4>
  </div>


  <div ng-if="tableGroups" class="kbn-searchtables-container">

    <div ng-hide="showInput" class="width: 100%;" align="right" id="textSearch">
      <a ng-click="showInput = true">Search</a>
    </div>

  	<div class="kuiLocalSearch"  id="inputSearchContainer" ng-show="showInput">
      <div class="kuiLocalSearchAssistedInput">
        <input ng-model="inputSearch" ng-keyup="$event.keyCode == 13 && doSearch()" id="inputSearch" placeholder="Search..." class="kuiLocalSearchInput ng-touched" autocomplete="off" type="text">
      </div>
      <button ng-click="doSearch()" aria-label="Search" class="kuiLocalSearchButton" id="inputSearchButton">
        <span aria-hidden="true" class="kuiIcon fa-search"></span>
      </button>
      <button ng-click="showInput = false" class="kuiLocalSearchButton" id="cancelSearchButton">
        <span aria-hidden="true" class="kuiIcon kuiButton--danger fa-times"></span>
      </button>
    </div>

    <kbn-agg-table-group
      group="tableGroups"
      export-title="vis.title"
      per-page="vis.params.perPage"
      sort="sort"
      show-total="vis.params.showTotal"
      total-func="vis.params.totalFunc">
    </kbn-agg-table-group>
  </div>
</div>
